@model EmployeeToDoView

<h2>Assigner</h2>
<form method="post">
    <p>Select Employee</p>
    <select name="Id">
        @foreach (Employee e in Model.Employees)
        {
            <option value="@e.Id">@e.FullName</option>
        }
    </select>
    <input type="submit" />
</form>