@model Employee

<form asp-action="Add" method="post">
    <label asp-for="FullName" class="control-label"></label>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>

    <label asp-for="Hours" class="control-label"></label>
    <input asp-for="Hours" class="form-control" />
    <span asp-validation-for="Hours" class="text-danger"></span>

    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>

    <input type="submit" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}