@model Employee

<h2>Edit @Model.FullName</h2>
<form asp-action="Update" method="post">
    <label asp-for="FullName" class="control-label"></label>
    <input asp-for="FullName" class="form-control" value="@Model.FullName" />
    <span asp-validation-for="FullName" class="text-danger"></span>

    <label asp-for="Hours" class="control-label"></label>
    <input asp-for="Hours" class="form-control" value="@Model.Hours" />
    <span asp-validation-for="Hours" class="text-danger"></span>

    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" value="@Model.Title" />
    <span asp-validation-for="Title" class="text-danger"></span>

    <input type="submit" />
</form>